In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('data/final_data/whole_sales.csv')

In [8]:
print(df.head())

         Date  Type       Barcode     Product Name  Cost/Unit(Ex VAT)  \
0  2023-01-01  Sale  5.010003e+12    HOVIS 7 SEEDS               1.31
1  2023-01-01  Sale  5.031390e+12         CASHWORD               1.00
2  2023-01-01  Sale  5.000144e+12  STERLING KS TTT               1.00
3  2023-01-01  Sale           NaN          ALCOHOL               3.00
4  2023-01-01  Sale  5.014379e+12    STELLA 10PACK               1.00

   Total Cost(Ex VAT)  Total Cost(Inc VAT)  QTY  Total Before Discount  \
0                1.31                 1.31  1.0                   1.89
1                1.00                 1.20  1.0                   3.00
2                1.00                 1.05  1.0                  11.99
3                3.00                 3.60  1.0                   3.00
4                1.00                 1.00  1.0                  12.99

   Amount  ...  Gross Margin(%)       Department  Sub Department  Brand  \
0    1.89  ...            30.69           BAKERY         DEFAULT    NaN
1    3.00  ...            60.00  INSTANT LOTTERY         DEFAULT    NaN
2   11.99  ...            91.24          TOBACCO             NaN    NaN
3    3.00  ...           -20.00          ALCOHOL         DEFAULT    NaN
4   12.99  ...            92.30          ALCOHOL         DEFAULT    NaN

  VAT (%) Till  Unnamed: 19  Username  Supplier  Comment
0     0.0  1.0          NaN       1.0       NaN      NaN
1    20.0  1.0          NaN       1.0       NaN      NaN
2     5.0  1.0          NaN       1.0       NaN      NaN
3    20.0  1.0          NaN       1.0       NaN      NaN
4     0.0  1.0          NaN       1.0       NaN      NaN

[5 rows x 23 columns]

In [11]:
# Filter the dataset to include only rows where the "Type" column is "Sale"
df = df[df['Type'] == 'Sale']

# Filter the dataset to include only rows where the "Barcode" column has values
df = df[df['Barcode'].notna()]

# Filter to get only rows with unique values in the "Barcode" column
df_products = df.drop_duplicates(subset='Barcode')

# Define the list of required columns
required_columns = ['Barcode', 'Product Name', 'Amount', 'Brand', 'Department', 'Comment']

# Filter the dataset to include only the required columns
df_products = df_products[required_columns]

df_products = df_products.astype({
    "Barcode": "Int64",         # bigint
    "Product Name": "string",   # string
    "Amount": "float64",        # decimal
    "Brand": "string",          # string
    "Department": "string",     # string
    "Comment": "string"         # string
})

# Rename columns to desired output names
df_products = df_products.rename(columns={
    "Barcode": "barcode",
    "Product Name": "product_name",
    "Amount": "price",
    "Brand": "brand",
    "Department": "department",
    "Comment": "measure"
})

df_products.to_csv('data/final_data/products.csv', index=False)

In [13]:
print(df_products.head())

         barcode           product_name  price brand       department measure
0  5010003064744          HOVIS 7 SEEDS   1.89  <NA>           BAKERY    <NA>
1  5031390116816               CASHWORD   3.00  <NA>  INSTANT LOTTERY    <NA>
2  5000143944921        STERLING KS TTT  11.99  <NA>          TOBACCO    <NA>
4  5014379012866          STELLA 10PACK  12.99  <NA>          ALCOHOL    <NA>
5  5027908312368  SOFTEE DAFFODILS PINK   1.29  <NA>        GROCERIES    <NA>

In [17]:
# Add product_id as the first column with unique values
df_products.insert(0, 'product_id', range(1, len(df_products) + 1))

ValueError: cannot insert product_id, already exists

In [19]:
print(df_products.head())

df_products.to_csv('data/final_data/new_products.csv', index=False)

   product_id        barcode           product_name  price brand  \
0           1  5010003064744          HOVIS 7 SEEDS   1.89  <NA>
1           2  5031390116816               CASHWORD   3.00  <NA>
2           3  5000143944921        STERLING KS TTT  11.99  <NA>
4           4  5014379012866          STELLA 10PACK  12.99  <NA>
5           5  5027908312368  SOFTEE DAFFODILS PINK   1.29  <NA>

        department measure
0           BAKERY    <NA>
1  INSTANT LOTTERY    <NA>
2          TOBACCO    <NA>
4          ALCOHOL    <NA>
5        GROCERIES    <NA>